.home {
  .hero {
    height: 85vh;
    .icon {
      height: 100%;
    }
    .button {
      height: 100%;
    }
    #logo {
      margin-top: -7rem;
      font-family: 'Style Script', cursive;
      font-size: 3.5rem;
      color: rgb(93, 66, 111);
    }
  }
}
